<label >Server Name</label><br/>
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->


<button class="btn btn-primary" 
[disabled]="!allowedNewServer"
(click)="onCreateServer()"
>Add Server</button>

<p *ngIf="serverCreated; else noServer">Server is created, name is {{serverName}}</p>
<ng-template #noServer>
    <p>
        No server was created
    </p>
</ng-template>
<!-- <p>{{serverCreationStatus}}</p> -->


<app-server></app-server>
<app-server></app-server>